<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.sansan.mappers.UserMapper">
	<resultMap id="getUserInfoByUserID" type="com.sansan.dao.User">
		<result property="userID" jdbcType="INTEGER" column="userID" />
		<result property="userName" jdbcType="VARCHAR" column="userName" />
		<result property="passWord" jdbcType="VARCHAR" column="passWord" />
		<result property="name" jdbcType="VARCHAR" column="name" />
		<result property="sex" jdbcType="INTEGER" column="sex" />
		<result property="age" jdbcType="INTEGER" column="age" />
		<result property="phone" jdbcType="VARCHAR" column="phone" />
		<result property="address" jdbcType="VARCHAR" column="address" />
		<result property="positionID" jdbcType="INTEGER" column="positionID" />
		<result property="logStamp" jdbcType="TIMESTAMP" column="logStamp" />
	</resultMap>
	
	<resultMap id="getListAdmins" type="com.sansan.dao.User">
		<result property="userID" jdbcType="INTEGER" column="userID" />
		<result property="userName" jdbcType="VARCHAR" column="userName" />
		<result property="passWord" jdbcType="VARCHAR" column="passWord" />
		<result property="name" jdbcType="VARCHAR" column="name" />
		<result property="sex" jdbcType="INTEGER" column="sex" />
		<result property="age" jdbcType="INTEGER" column="age" />
		<result property="phone" jdbcType="VARCHAR" column="phone" />
		<result property="address" jdbcType="VARCHAR" column="address" />
		<result property="positionID" jdbcType="INTEGER" column="positionID" />
		<result property="logStamp" jdbcType="TIMESTAMP" column="logStamp" />
		
		<association property="position" javaType="com.sansan.dao.Position">
	    	<id column="positionID" jdbcType="INTEGER" property="positionid"/>
	    	<result  column="positionName" jdbcType="VARCHAR" property="name"/>
	    	<result  column="numbers" jdbcType="INTEGER" property="numbers"/>
	    </association>
	    
	</resultMap>
	
	<resultMap id="userPassWord" type="java.lang.String">
		<result property="passWord" jdbcType="VARCHAR" column="passWord" />
	</resultMap>
	
	<resultMap id="userID" type="java.lang.Integer">
		<result property="userID" jdbcType="INTEGER" column="userID" />
	</resultMap>
	
	<resultMap id="getAllUser" type="com.sansan.dao.User">
		<result property="userID" jdbcType="INTEGER" column="userID" />
		<result property="name" jdbcType="VARCHAR" column="name" />
	</resultMap>
	
	<sql id="User_Info">
		userID,
		userName,
		passWord,
		name,
		sex,
		age,
		phone,
		address,
		positionID,
		logStamp
	</sql>
	
	<sql id="User_List">
		a.userID,
		a.userName,
		a.passWord,
		a.name,
		a.sex,
		a.age,
		a.phone,
		a.address,
		a.positionID,
		a.logStamp,
		b.positionID,
		b.name positionName,
		b.numbers
	</sql>
	
	<sql id="User_Pass">
		passWord
	</sql>
	
	<sql id="userID">
		userID
	</sql>
	
	<sql id="getAllUser">
		userID,
		name
	</sql>
	
	<select id="getUserInfoByUserID" resultMap="getUserInfoByUserID" parameterType="java.lang.Integer">
		SELECT
		<include refid="User_Info" />
		From mf_user WHERE userID = #{i}
	</select>
	
	<select id="getUserPassWord" resultMap="userPassWord" parameterType="java.lang.String">
		SELECT
		<include refid="User_Pass" />
		FROM mf_user WHERE userName = #{userName}
	</select>
	
	<select id="getAllUser" resultMap="getAllUser">
		SELECT
		<include refid="getAllUser" />
		FROM mf_user 
	</select>
	
	<!-- 根据用户ID获取用户信息 -->
	<select id="getUserID" resultMap="getUserInfoByUserID"   parameterType="java.lang.String">
		SELECT
		<include refid="User_Info" />
		FROM mf_user WHERE userName = #{userName} ORDER BY logStamp DESC LIMIT 1
	</select>
	
	<!-- 添加用户 -->
	<insert id="insertUser" parameterType="map">
		<selectKey resultType="java.lang.Integer" keyProperty="userID" order="AFTER" >
	       SELECT LAST_INSERT_ID() AS userID
	    </selectKey>
		INSERT INTO mf_user (userName,passWord,logStamp) VALUES (#{userName},#{passWord},#{logStamp})
	</insert>
	
	<!-- 用户列表页面添加用户 -->
	<insert id="insertAdmin" parameterType="com.sansan.dao.User">
		<selectKey resultType="INTEGER" order="AFTER" keyProperty="userID">
			SELECT LAST_INSERT_ID() AS userID
		</selectKey>

		INSERT INTO mf_user (name,userName,passWord,sex,age,phone,address,positionID,logStamp) VALUES (#{name},#{userName},#{passWord},#{sex},#{age},
		#{phone},#{address},#{positionID},now())

	</insert>
	<!-- 获取用户列表信息 -->
	<select id="getListAdmins" resultMap="getListAdmins">
		SELECT 
		<include refid="User_List" />
		FROM mf_user a LEFT JOIN mf_position b ON a.positionID=b.positionID  ORDER BY a.userID DESC
	</select>
	
	<select id="getCountAdmins" resultType="int">
		SELECT COUNT(*) FROM mf_user
	</select>
</mapper>